---
import "../style/style.css";
import MainLayout from "../layouts/main.astro";
---

<MainLayout mainClass="user">
  <h2>Nemusíte sedět v čekárně</h2>
  <p>
    S aplikaci NextinQ a můžete jít na procházku anebo si sednout do kavárny. V
    aplikaci vidíte, kolikátí jste v pořadí a dostanete upozornění, že se už
    budete muset dostavit do čekárny. Chce to jen pár jednoduchých kroků:
  </p>
  <section class="benefit odd">
    <h3>1. Vezměte si lístek s pořadovým číslem.</h3>
    <p>
      Lístek obsahuje informace, které budete potřebovat na to abyste viděli
      stav fronty.
    </p>
    <img src="images/step1.png" />
  </section>

  <section class="benefit">
    <h3>2. Stáhněte si aplikaci NextinQ</h3>
    <p>
      Přejděte do aplikace Nextinq a zaregistrujte se. Aplikace je dostupná na
    </p>
    <a href="https://app.nextinq.com">https://app.nextinq.com/m</a>
  </section>
  <section class="benefit odd">
    <h3>3. Přihlaste se do fronty pomocí PIN kódu z lístku</h3>
    <p>
      Zaregistrujte si provozovatele pomocí PID kódu poskytovatele uvedeného na
      lístku a přihlaste se do fronty pomocí kódu PIN z lístku.
    </p>
    <img src="images/step3.png" />
  </section>
  <section class="benefit">
    <h3>4. Nyní můžete čekat kdekoliv.</h3>
    <p>Aplikace Vás upozorní na změnu pořadí ve frontě.</p>
    <img src="images/step4.png" />
  </section>
  <section class="benefit">
    <h3>5. Sledujte svůj mobil nebo displeje v čekárně.</h3>
    <p>
      Aplikace NextinQ, obrazovka v čekárně a displej přepážky ukazují aktuální
      stav fronty.
    </p>
    <img src="images/step5.png" />
  </section>
  <section class="benefit">
    <h3>6. Další prosím...</h3>
    <p>
      Na svém mobilním telefonu a na displejích v čekárně budete vyzván ke
      vstupu..
    </p>
    <img src="images/step6.png" />
  </section>
</MainLayout>
