---
import "../style/style.css";
import MainLayout from "../layouts/main.astro";
---

<MainLayout mainClass="home">
  <img class="title" src="images/nextinq_home_title.png" />
  <h2>Výhody inteligentní čekárny</h2>
  <section class="benefit odd">
    <h3>Zákazník nemusí čekat v čekárně</h3>
    <p>
      Aplikace umožňuje zákazníkovi čekat na místě, které je pro něj příjemné
      (doma, v kavárně, ...). Aplikace zákazníka upozorní při změně pořadí ve
      frontě
    </p>
    <img src="images/nextinq_home_1.png" />
  </section>

  <section class="benefit">
    <h3>Identifikace zákazníka zařazeného do fronty</h3>
    <p>
      Pokud k tomu dá zákazník souhlas, může předat kontaktní informace a sdělit
      účel návštěvy v okamžiku zařazení do fronty.
    </p>
    <img src="images/nextinq_home_2.png" />
  </section>
  <section class="benefit odd">
    <h3>Zařazení pomocí mobilu</h3>
    <p>
      Pomocí mobilní aplikace se zákazník může zařadit do fronty ještě před
      příchodem do ordinace / provozovny.
    </p>
    <img src="images/nextinq_home_3.png" />
  </section>
  <section class="benefit">
    <h3>Ušetříte čas i nervy</h3>
    <p>
      Ušetřete čas při správě fronty a dopřejte nejvyšší možný komfort
      zákazníkům.
    </p>
    <img src="images/nextinq_home_4.png" />
  </section>
</MainLayout>
