body {
  margin-left: 50px;
  margin-right: 50px;
}
.title {
  width: 100%;
}

.benefit img {
  width: 100%;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #ff7518;
  text-align: center;
}
.odkazy {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.odkaz {
  color: #a3a3a3;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 700;
  font-size: larger;
  font-family: "Open Sans", sans-serif;
}
a {
  color: #ff7518;
}
p {
  color: #7a7a7a;
}
p,
a {
  font-weight: 400;
  line-height: 30px;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}
.user-img {
  width: 5px;
}
footer {
  color: #7cc2a0;
  font-size: larger;
  text-align: center;
  margin: 45px;
}
footer a {
  display: block;
}
.mdx {
  font-family: "Open Sans", sans-serif;
}
.mdx h2 {
  text-align: left;
}
@media all and (min-width: 800px) {
  body {
    text-align: center;
    display: grid;
    place-items: center;
  }

  body > section {
    width: 800px;
  }
  .user-img {
    width: 5px;
  }
  .title {
    width: 700px;
  }
  .benefit img {
    width: 550px;
  }
  a {
    color: #ff7518;
  }
  p {
    color: #7a7a7a;
  }
  p,
  a {
    font-weight: 400;
    line-height: 50px;
    font-size: 27px;
    font-family: "Open Sans", sans-serif;
  }
  h1,
  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: #ff7518;

    font-size: 45px;
  }

  h2 {
    font-weight: 400;
  }
  h3 {
    font-weight: 700;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
  }
  .odkaz {
    text-align: center;
  }
}
