body {
  margin-left: 50px;
  margin-right: 50px;
}
.title {
  width: 100%;
}

.benefit img {
  width: 100%;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: rgb(255, 117, 24);
  text-align: center;
}

h2 {
  font-weight: 400;
}
h3 {
  font-weight: 700;
  font-size: larger;
  font-family: "Open Sans", sans-serif;
}
p {
  font-weight: 400;
  color: #7a7a7a;
  line-height: 30px;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}
.mdx {
  font-family: "Open Sans", sans-serif;
}
.mdx h2{
  text-align: left;
}