---
import "../style/style.css";
const { mainClass } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Oswald:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>
  <body>
    <section class={mainClass ?? "mdx"}>
      <h1>NextinQ</h1>
      <a class="odkaz" href="/">Domů</a><a class="odkaz" href="/end-user">Uživatel</a>
      <slot />
      <footer>
        <a href="/dpa">Zpracovatelská smlouva</a>
        <a href="/privacy">Podmínky ochrany osobních údajů</a>
        <a href="/tos">Obchodní podmínky</a>
      </footer>
    </section>
  </body>
</html>
